* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/img_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header .menu {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 147px;
  z-index: 2;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .menu__item {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 30px;
  text-transform: uppercase;
  line-height: 3rem;
  padding-top: 3px;
}

.header .menu__item:hover {
  border-top: 3px orange solid;
  padding-top: 0px;
}

.header .menu__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.header .article {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .article__title {
  font-size: 6rem;
  font-weight: 800;
}

.header .article__text {
  font-size: 1.6rem;
  margin: 40px 0;
  width: 370px;
  font-weight: 300;
}

.header .article__button {
  background-color: #ff6033;
  color: white;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content {
  width: 1176px;
  margin: 0 auto;
}

.button {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 200px;
  height: 55px;
  cursor: pointer;
  color: white;
  border: none;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.button--gallery {
  margin-top: 15px;
  background-color: #5585A2;
}

.button--header {
  background-color: #ff6033;
}

.button--subscribe {
  background-color: #96B92C;
  margin-left: 30px;
}

.button--blog {
  background-color: #F72B3B;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00C4C4), color-stop(#00B7B7), color-stop(#00ADAD), to(#009C9C));
  background: linear-gradient(#00C4C4, #00B7B7, #00ADAD, #009C9C);
}

.about__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 13%;
}

.about__article {
  justify-self: flex-end;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17%;
}

.about__article .article__title {
  font-size: 9rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 120px;
}

.about__article .article__text {
  font-size: 17px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 120px;
  width: 499px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  display: row;
  height: 790px;
  background-color: #70BFFF;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.services .services__logo__text {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: white;
  font-size: 9rem;
  font-weight: bold;
}

.content__cards {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__cards-item {
  position: relative;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #707070;
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
}

.content__cards-item__text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin-left: 15px;
}

.content__cards-item__icon {
  font-size: 4rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  border-left: 2px solid #9D9D9D;
  line-height: 100px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFE92F;
  -ms-flex-preferred-size: 1536px;
      flex-basis: 1536px;
}

.gallery__header {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.gallery__header .header__title {
  font-size: 9rem;
  text-align: center;
  margin-top: 67px;
}

.gallery__header .header__text {
  width: 630px;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.gallery .photos-item {
  margin-bottom: 30px;
}

.gallery .photos-item__image {
  border: 1px solid #707070;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  background-image: url(../images/subscribe__bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.subscribe__title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.subscribe__text {
  font-size: 1.7rem;
  width: 572px;
}

.subscribe__form {
  margin-top: 32px;
}

.subscribe__form .form__input {
  width: 570px;
  height: 55px;
  padding-left: 15px;
  -webkit-box-shadow: 0px 3px 6px black;
          box-shadow: 0px 3px 6px black;
}

.blog {
  -ms-flex-preferred-size: 864px;
      flex-basis: 864px;
  background-color: #B07CF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.blog__title {
  font-size: 9rem;
  margin-top: 80px;
  margin-bottom: 23px;
}

.blog__text {
  text-align: center;
  width: 570px;
  font-size: 1.7rem;
}

.blog__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 50px;
}

.blog__cards-list .card-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  height: 310px;
  background-color: green;
  border: 1px solid #707070;
  -webkit-box-shadow: 0px 2px 5px black;
          box-shadow: 0px 2px 5px black;
}

.blog__cards-list .card-list__item:nth-child(1) {
  background-image: url(../images/Blog__card_1.png);
}

.blog__cards-list .card-list__item:nth-child(2) {
  background-image: url(../images/blog__card_2.png);
}

.blog__cards-list .card-list__item:nth-child(3) {
  background-image: url(../images/blog__card_3.png);
}

.blog__cards-list .card-list__item .item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.blog__cards-list .card-list__item .item__date {
  font-size: 3.2rem;
  font-weight: bold;
  width: 60px;
  height: 62px;
  line-height: 1;
  background-color: rgba(38, 38, 38, 0.5);
  border-radius: 10%;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  justify-self: flex-end;
}

.blog__cards-list .card-list__item .item__title {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  -ms-flex-preferred-size: 866px;
      flex-basis: 866px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/contact__bg.png);
  background-position: center;
  background-size: cover;
}

.contact__title {
  font-size: 9rem;
  margin-top: 80px;
  margin-bottom: 23px;
}

.contact__text {
  text-align: center;
  width: 570px;
  font-size: 1.7rem;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.contact__content .contact__forms {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  height: 445px;
}

.contact__content .contact__forms .forms__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__content .contact__forms .forms__form .form__item {
  height: 50px;
  width: 500px;
  margin-bottom: 15px;
  padding-right: 10px;
  opacity: 0.4;
  background-color: #00C4C4;
}

.contact__content .contact__forms .forms__form .form__item--active {
  opacity: 1;
  border: 1px solid #707070;
  border-left: 5px solid #355B82;
  background-color: #00C4C4;
}

.contact__content .contact__forms .forms__form .form__textarea {
  resize: none;
  height: 250px;
  width: 500px;
  opacity: 0.4;
  background-color: #00C4C4;
}

.contact__content .contact__address {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  height: 189px;
}

.contact__content .adrress__title {
  font-size: 1.7rem;
  font-weight: bold;
}

.contact__content .adrress__text {
  font-size: 2rem;
}

.footer {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  color: white;
  border-top: 1px solid #707070;
}

.footer__copy-right {
  font-size: 1.6rem;
}

.footer__title {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
}

.footer__text {
  font-size: 1.5rem;
}

.footer__text--color {
  font-weight: bold;
  color: #FF2B58;
}
/*# sourceMappingURL=style.css.map */