.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 700px;
    background: linear-gradient(#00C4C4, #00B7B7, #00ADAD, #009C9C);

    @media(max-width: 720px) {
        flex-direction: column;

    }

    &__logo {


        //flex-shrink: 1;
        margin-left: 13%;

        &-image {
            width: 100%;

            @media(max-width: 1280px) {
                width: 400px;
            }

            @media(max-width: 720px) {
                justify-self: flex-start;
                align-self: flex-start;
                width: 320px;
            }

        }

    }


    &__article {
        justify-self: flex-end;
        color: white;
        flex: 1;
        margin-right: 17%;
        flex-shrink: 2;

        @media(max-width: 1280px) {
            width: 400px;
        }

        @media(max-width: 720px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 320px;
        }



        .article__title {


            font-size: 9rem;
            font-weight: 700;
            margin-bottom: 20px;
            padding-left: 120px;

            @media(max-width: 720px) {
                font-size: 7rem;
                text-align: center;
                justify-self: center;
            }
        }

        .article__text {

            font-size: 17px;
            font-weight: 300;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: left;
            padding-left: 120px;
            width: 499px;

            @media(max-width: 1000px) {
                font-size: 14px;
                width: 400px;
                text-align: center;

            }

            @media(max-width: 720px) {
                font-size: 13px;
                text-align: center;
            }

        }
    }


}