html {
    font-family: $special-font;
    font-size: 10px;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    width: 1176px;
    margin: 0 auto;

    @media(max-width: 1280px) {
        width: 1000px;
    }
}

.button {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    width: 200px;
    height: 55px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: $box-shadow;
    transition: 0.5s;

    &--header {
        background-color: #ff6033;

        &:hover {
            background-color: #fa3600;
        }
    }

    &--gallery {
        margin-top: 15px;
        background-color: #5585A2;

        &:hover {
            background-color: #006aac;
        }
    }



    &--subscribe {
        background-color: #96B92C;
        margin-left: 30px;

        &:hover {
            background-color: #a6dd00;
        }
    }

    &--blog {
        background-color: #F72B3B;
        align-self: center;
        justify-self: center;



        &:hover {
            background-color: #fb0015;
        }
    }

}