.contact {
    flex-basis: 866px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/contact__bg.png);
    background-position: center;
    background-size: cover;

    //Dać do base, powtarzam niepotrzebnie kod.
    &__title {
        font-size: 9rem;
        margin-top: 80px;
        margin-bottom: 23px;
    }

    //Dać do base, powtarzam niepotrzebnie kod.
    &__text {
        @include text;
        text-align: center;
        width: 570px;

    }

    &__content {
        display: flex;
        //align-items: center;
        justify-content: space-between;
        margin-top: 45px;

        .contact__forms {

            flex-basis: 500px;
            height: 445px;
            //background-color: gray;

            .forms__form {
                display: flex;
                flex-direction: column;


                .form__item {
                    height: 50px;
                    width: 500px;
                    margin-bottom: 15px;
                    padding: 12px 15px;
                    opacity: 0.5;
                    background-color: #00c4c4;
                    transition: 0.5s;




                    &:focus {
                        @include placeholder;

                    }

                    &::placeholder {
                        color: $color-placeholder;
                    }
                }

                .form__textarea {
                    resize: none;
                    height: 250px;
                    width: 500px;
                    padding: 12px 15px;
                    opacity: 0.5;
                    background-color: #00C4C4;
                    transition: 0.5s;

                    &:focus {
                        @include placeholder;
                    }

                    &::placeholder {
                        color: $color-placeholder;
                    }
                }
            }
        }

        .contact__address {
            flex-basis: 500px;
            height: 189px;
        }

        .adrress__title {
            font-size: 1.7rem;
            font-weight: bold;
        }

        .adrress__text {
            font-size: 2rem;

        }
    }
}