.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFE92F;
    flex-basis: 1536px;

    &__header {
        flex-basis: 20%;


        .header__title {
            font-size: 9rem;
            text-align: center;
            margin-top: 67px;
        }

        .header__text {
            width: 630px;
            @include text;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-basis: 80%;

        @media(max-width: 1280px) {
            justify-content: center;
            flex-wrap: wrap;

            .column {
                display: flex;
                // flex-direction: column;
                flex-wrap: wrap;
                // align-items: center;
                // justify-content: space-between;
                // padding-right: 10px;
            }
        }

    }

    .photos-item {
        cursor: pointer;
        margin-bottom: 30px;
        transition: 0.5s;

<<<<<<< HEAD
        @media(max-width: 1280px) {
            margin-right: 22px;
        }

=======
>>>>>>> 5891e7de39b296b297d49a5bc5cc680a34a947c9
        &:hover {
            transform: scale(1.1);
        }


    }

    .photos-item__image {
        border: 1px solid #707070;
        box-shadow: $box-shadow;

    }

}