.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFE92F;
    flex-basis: 1536px;

    @media(max-width: 720px) {
        justify-content: center;
    }

    &__header {
        flex-basis: 20%;


        .header__title {
            font-size: 9rem;
            text-align: center;
            margin-top: 67px;

            @media(max-width: 720px) {
                font-size: 7rem;
            }

        }

        .header__text {
            width: 630px;
            @include text;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            @media(max-width: 720px) {
                font-size: 1.7rem;
            }
        }
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-basis: 80%;

        @media(max-width: 1280px) {
            justify-content: center;
            flex-wrap: wrap;

            .column {
                display: flex;
                flex-wrap: wrap;

            }
        }

        @media(max-width: 720px) {
            .column {
                display: flex;
                flex-direction: column;
            }
        }

    }

    .photos-item {
        cursor: pointer;
        margin-bottom: 30px;
        transition: 0.5s;

        @media(max-width: 1280px) {
            margin-right: 22px;
        }


        &:hover {
            transform: scale(1.1);
        }


    }

    .photos-item__image {
        border: 1px solid #707070;
        box-shadow: $box-shadow;

        @media(max-width: 720px) {
            width: 400px;
        }

    }

}