@media(max-width:720px) {
    .subscribe__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}



.subscribe {
    display: flex;
    align-items: center;
    flex-basis: 500px;
    background-image: url(../images/subscribe__bg.png);
    background-repeat: no-repeat;
    background-position: right;



    &__title {
        font-size: 4rem;
        margin-bottom: 20px;


    }

    &__text {
        @include text;
        width: 572px;
    }

    &__form {
        margin-top: 32px;

        @media(max-width:720px) {
            display: flex;
            flex-direction: column;
        }

        .form__input {
            width: 570px;
            height: 55px;
            padding-left: 15px;
            box-shadow: $box-shadow;
        }
    }
}